* {
  padding: 0%;
  margin: 0%;
}

h1{
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App {
  background: linear-gradient(to bottom, #000000, #490589);
  height: 100%;
  min-height: 100vh;
}

.App-header {
  height: 100px;
}


nav {
  padding: 10px;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

nav button {
  background-color: #b0b0b074;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
 
}


nav button:hover {
  transition: .12s ease-in-out;
  background-color: #1c0031;
}


main{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    padding-bottom: 50px;   
  }
}

.tokenomics{
  border-radius: 10px;
  height: 100%;
  width: 60%; 
  max-width: 635px;
  background-color: #150227;
  opacity: 0.9;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 30px;

  .tokenomics-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  span{
    color: #65A6FA;
  }

  h3{
    margin-bottom: 10px;
    font-size: 28px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    border: white 3px solid;
    padding: 20px;
    text-align: center;
  }

  p{
    font-size: 18px;
    color: white;
  }

  text, tspan{
    color: white !important;
    fill: white !important;
  }
}




.stakingInfoGorillaz {
  margin: 0 auto;
  background-color: #333;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 60%; 
  max-width: 635px;
  color: white;
  margin-top: 15px;
  margin-bottom: 30px;
  
  .precaution{
    color: gray;
    margin-top: 10px;
    
  }

  .reward-info {
    display: flex;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;

  
}
    p:first-child {
      margin-right: auto; // Este margen empujará el primer párrafo al extremo izquierdo
    }

    p:last-child {
      margin-left: auto; // Este margen empujará el último párrafo al extremo derecho
    }

    button:first-child {
      margin-right: auto; // Este margen empujará el primer párrafo al extremo izquierdo
    }

    button:last-child {
      margin-left: auto; // Este margen empujará el último párrafo al extremo derecho
      background: linear-gradient(to bottom, #290b35, #490589);
    }

    .inputStakeApprove {
      padding: 10px 10px;
      width: 90%;
      max-width: 400px;
      min-width: 200px;
      border: 1px solid #ccc; // Añade un borde para mejorar la apariencia
      border-radius: 5px; // Redondea las esquinas
      font-size: 16px; // Ajusta el tamaño de la fuente
      outline: none; // Elimina el borde alrededor del input al enfoca
      background-color: #b0b0b074;
      color: white;
      
      
    }
    
    // Estilos adicionales si deseas resaltar el input al enfocarlo
    .inputStakeApprove:focus {
      border-color: #007bff; // Cambia el color del borde al enfocar
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); // Agrega una sombra al enfocar
    }
    .inputStakeApprove::placeholder{
      color: white;
    }
    

  button {
    background-color: #b0b0b074;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 15px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    max-width: 150px;
   }
  }

  @media (max-width:600px) {
    .reward-info{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .reward-info button:last-child{ 
      margin: 0;
      margin-top: 15px;
    }

  }

  button:last-child:hover{
    transition: 0.1s ease-in-out;
    background-color: #1c0031;
  }

  @media (max-width:430px) {
    .stakingInfoGorillaz{
      margin-top: 20px;
    }
    nav button{
      padding: 10px 10px;
      
    }
  }

     

  @media (max-width:550px) {
   .css-1ct1ojt-MuiResponsiveChart-container{
    width: 350px !important;
   }
    main .tokenomics svg{    
      width: 350px !important;
      height: 200px !important;  
      overflow: hidden;
  }

}

@media (max-width:390px) {
  .css-1ct1ojt-MuiResponsiveChart-container{
    width: 300px !important;
   }
    main .tokenomics svg{    
      width: 300px !important;
      height: 200px !important;  
      overflow: hidden;
  }
}

  @media (max-width:360px) {
    .stakingInfoGorillaz{
      margin-top: 30px;
    }
    nav button{
      padding: 5px 10px;
      
    }
  }

